*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background: url(../img/Bg/home.png);
    background-repeat: no-repeat;
    background-size: cover;}

.dark-mode {
    background-color: #fff;
    color: black;
}

//scrool
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #FFD02D;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
        background: #fff;}


@font-face {
    font-family: Gang;
    src: url(../Font/go3v2.ttf);
}

@font-face {
    font-family: Product;
    src: url(../Font/ProductSans-Black.ttf);
}

@font-face {
    font-family: Akira;
    src: url(../Font/Akira\ Expanded\ Demo.otf);
    font-weight: 800;
    font-style: normal;
}

$Akira: Akira,
sans-serif;
$Gang:Gang,
sans-serif;
$Product: Product,
sans-serif;

li, a, button{
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    color: #1E1E1E;
}

a:hover{
    background-color: transparent !important;
}

header{
    height: 60px;
    width: 100%;
    background-color: #3e0b55;

    .pheader{
        // background-color: green;
        height: 100%;
        width: 100%;

        .headimg{
            display: flex;
            // justify-content: center;
            align-items: center;
        .switch{
            font-size: 30px;
            color: #FFD02D;
            margin-left: 40px;
            cursor: pointer;
        }}
        #navul{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                // background-color: black;
                width: 100%;

                a{
                    column-gap: 20px;
                    text-align: center;
                    font-size: 16px;
                    
                    li{
                        color: #fff;
                        font-family: $Product;
                    }
                }
                button{
                    background-color: #FFD02D;
                    margin-top: 5px;
                    font-family: $Product;
                }
                a:hover{
                    background-color: transparent;
                    text-decoration: underline;
                    text-decoration-color: #FFD02D;
                }
            }
        }

    }

}

.home{
    height: auto;
    width: 100%;
    // background-color: red;
background: url(../img/Bg/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    // padding-bottom: 20vh;

    .container{
        .row{
            display: flex;
            justify-content: center;
            .hometxt{
                margin-top: 70px;
                h2{
                // background-color: greenyellow;
                color: #FFD02D;
                font-size: 4em;
                font-family: $Product;

                span{
                    color: #fff;
                    font-family: $Gang;
                    display: block;
                }
            }
            p {
                color: #fff;
                font-family: $Product;
                width: 70%;
            }
            .homebtn{
                display: flex;
                align-items: center;
                margin-top: 30px;
                a{
                    font-family: $Product;
                    text-transform: uppercase;
                    background-color: #FFD02D;
                    color: #1E1E1E;
                    padding: 10px 20px;
                }
                i{
                    font-size: 2em;
                    color: #FFD02D;
                    margin-left: 20px;
                }
                a:hover{
                    color: #FFD02D;
                    border: 2px solid #FFD02D;
                }
            }
        }
        }
    }
}



.conpartners{
    height: auto;
    background-color: #3e0b55;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .partners {
            height: auto;
            width: 80%;
            background-color: #4A006C;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 20px;
            margin-top: 20px;
            padding-bottom: 30px;
    
            .container {
                // background-color: red;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                padding-left: 50px;
            }
        }
}

.mainabout{
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about{
    height: auto;
    width: 100%;
    // background-color: black;
    background: url(../img/Bg/about.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    padding-bottom: 50px;
    .container{
        .row{
            .about1{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 50px;
                .aboutxt{
                    height: auto;
                    h2{
                        font-family: $Akira;
                        font-weight: bolder;
                        font-size: 3em;
                        color: white;
                        margin-top: 80px;
                        padding-bottom: 20px;
                        
                        span{
                            color: #FFD02D;
                            display: block;
                        }

                    }
                    h3 {
                        font-family: $Product;
                        font-weight: lighter;
                        color: white;
                        word-spacing: 2px;
                        padding-bottom: 20px;
                    }
                    p{
                        color: #fff;
                        width: 100%;
                        font-family: $Product;
                    }
                }
            }

        }
    }
}



.tokenomics{
    height: auto;
    width: 100%;
    // background-color: red;
    background: url(../img/Bg/tokenomics.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding-bottom: 30px;
    position: relative;
    .container{
        display: flex;
        // justify-content: center;
        // align-items: center;
        .row{
            
            .tkn{
                // background-color: blue;

                .tokentxt{
                    display: flex;
                    flex-direction: column;
                    // align-items: center;
                    h2{
                        font-size: 2.5em;
                        color: #fff;
                        font-family: $Akira;
                        font-weight: bolder;
                        margin-top: 30px;
                        span{
                            color: #FFD02D;
                            display: block;
                        }
                    }
                    .p1{
                        text-align: center;
                        padding: 10px;
                        background-color: #FFD02D;
                        width: 40%;
                        font-family: $Product;
                        text-transform: uppercase;
                        font-weight: bolder;
                        border-radius: 20px;
                    }
                    .p2{
                        width: 60%;
                        color: #fff;
                        text-align: center;
                        font-family: $Product;
                    }
                    .tkcenter{
                        // background-color: green;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-left: 200px;

                        .moon{
                            position: absolute;
                            bottom: 0;
                            right: 140px;
                        }
                    }
                }
            }
        }
    }
}


.buy{
    height: auto;
    width: 100%;
    background: url(../img/Bg/buy.png);
    background-repeat: no-repeat;
    background-size: cover;    padding-bottom: 50px;

    .container-fluid{
        .row{
            display: flex;
            justify-content: center;
            .inbuy{
                // background-color: red;
                margin-top: 50px;

                .buytxt{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    h2{
                        font-family: $Akira;
                        font-size: 2em;
                        text-align: center;
                        color: #fff;
                        span{
                            display: block;
                            color: #FFD02D;
                        }
                    }
                    button{
                        padding:10px 30px;
                        font-family: $Akira;
                        font-weight: bolder;
                        border-radius: 10px;
                        margin-top: 20px;
                    }
                }
                .mainb{
                    // background-color: green;
                    margin-top: 50px;
                    div{
                        background-color: #FFD02D;
                        margin-top: 20px;
                        margin-left: 20px;
                        border-radius: 10px;
                        padding: 20px;
                        display: flex;

                        span{
                            font-size: 20px;
                            font-family: $Product;
                            background-color: black;
                            color: #FFD02D;
                            padding: 20px;
                            border-radius: 100%;
                            text-align: center;
                        }
                        h3{
                            font-size: 18px;
                            padding-left: 10px;
                        }
                    }
                }
            }
        }
    }
}


.roadmap{
    height: auto;
    width: 100%;
    background: url(../img/Bg/about.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    padding-top: 50px;

    .container{
        // background-color: green;
        .row{
            // background-color: blue;
            .inroad{
                .roadtxt{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // background-color: yellowgreen;
                    h2{
                        color: #fff;
                        font-size: 3em;
                        font-family: $Akira;
                        text-align: center;

                        span{
                            color: #FFD02D;
                            display: block;
                            font-size: .5em;
                        }
                    }
                }
            }
            .inroad{
                // background-color: blueviolet;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                height: auto;
                .row{
                    // background-color: greenyellow;
                    display: flex;
                    height: auto;
                    .mainroad{
                        // background-color: plum;
                        margin-bottom: 20px;
                        // display: flex;
                        margin-left: 20px;
                        height: auto;
                        ul{
                            // background-color: gold;
                            height: auto;
                            border: 2px solid #fff;
                            border-radius: 20px;
                            padding-top: 20px;
                            margin-top: 20px;
                            padding-bottom: 20px;
                            h2{
                                font-family: $Akira;
                                color: white;
                                display: block;
                            }

                            li{
                                list-style-image: url(../img/icons/list.png);
                                list-style-position: outside;
                                font-family: $Product;
                                width: 70%;
                                color: lightgray;
                                padding-bottom: 10px;
                            }
                        }

                        
                    }
                    .mainroad2{
                        position: relative;
                        top: 50px;
                    }
                    .mainroad3{
                        position: relative;
                        top: 50px;
                    }
                    .mainroad4 {
                        position: relative;
                        top: 100px;
                    }
                    .mainroad5 {
                        position: relative;
                        top: 50px;
                    }
            }
            }
        }
    }
}